{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura:300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">

</head>
<body>

    <table id="block_top">
        <tr>
            <td class="l">{{ name_project }}</td>
            <td class="r">
                <a href="#">Главная</a>/<a href="#">Товары</a>/<a href="#">Контакты</a>
            </td>
        </tr>
    </table>

    <div id="block_content" style="padding: 190px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <h1 class="title1">Подписаться на новый товар</h1><hr>
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ваше имя:</label>
                            <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="Например: Алексей">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ваше e-mail:</label>
                            <input type="text" name="{{ form.email.name }}" class="form-control" placeholder="Например: alex@gmail.com">
                        </div>
                        <center><button type="submit" class="btn btn-primary my_btn">Подписаться</button><center>
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>